<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<p>
Уважаемый  <%=user.fio%>!<br> 
Вы зарегистрировали  заявку на финасирование .
 Перейдите по указанной ссылке для обработки вашей заявки. <br>
<a href="https://<%=server%>/login/confirm_request?confirm=<%=pers_req._id%>">Подтвердить </a><br>


С уважением, администрация портала.
</p>
<%= JSON.stringify(user,4,4)%>
<%= JSON.stringify(pers_req,4,4)%>
<p></p>
</body>
	

